// Theme Width.
$themeWidth: 100%;

// Content Width.
$contentWidth: 800px;
$wideBlockWidth: 1040px;

// Fullwidth Template.
$contentFullwidth: 1280px;
$wideBlockFullwidth: 1520px;

// Text Color
$textColor: #242424;

// Theme Colors
$themeColors: (
	--primary-color           : #003344,
	--secondary-color         : #268f97,
	--accent-color            : #c9493b,
	--highlight-color         : #f9d26e,
	--light-gray-color        : #e4e4e4,
	--gray-color              : #848484,
	--dark-gray-color         : #242424,
	--link-color              : #268f97,
	--link-hover-color        : #003344,
	--button-color            : #268f97,
	--button-hover-color      : #003344,
	--header-background-color : #003344,
	--header-text-color       : rgba(255, 255, 255, 0.95),
	--header-text-hover-color : rgba(255, 255, 255, 0.5),
	--header-border-color     : rgba(255, 255, 255, 0.1),
	--title-color             : #003344,
	--title-hover-color       : #268f97,
	--footer-background-color : #003344,
	--footer-text-color       : rgba(255, 255, 255, 0.5),
	--footer-link-color       : rgba(255, 255, 255, 0.95),
	--footer-link-hover-color : rgba(255, 255, 255, 0.5),
	--footer-border-color     : rgba(255, 255, 255, 0.1),
);

// Theme Fonts
$baseFont: "Barlow", arial, helvetica, sans-serif;
$titleFont: "Barlow", arial, helvetica, sans-serif;
$themeFonts: (
	--text-font  : $baseFont,
	--title-font : $titleFont,
	--navi-font  : $titleFont,
);

// Font Weight.
$fontWeight: (
	--title-font-weight : bold,
	--navi-font-weight  : normal,
);

// Text Transform.
$textTransform: (
	--title-text-transform : none,
	--navi-text-transform  : none,
);
