.wp-site-blocks {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}

.site-header,
.site-content,
.site-footer {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

.site-main {
	margin-left: auto;
	margin-right: auto;
	max-width: $contentWidth;
}
