@media only screen and (min-width: 400px) {
	.menu-toggle .menu-toggle-text {
		display: inline-block;
		margin-left: 0.5rem;
	}
}

@media only screen and (min-width: 960px) {
	.main-menu-toggle {
		display: none;
	}

	.main-navigation ul,
	.main-navigation.wp-block-navigation > ul > li > ul {
		display: block;
	}

	.primary-navigation {
		display: flex;
		margin-left: auto;
		width: auto;
		align-items: center;
	}

	/* Override Core Column Block CSS */
	.primary-navigation.wp-block-column:nth-child(n) {
		margin-left: auto;
	}

	.site-header .main-navigation > ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		margin: 0;
		border-bottom: none;
	}

	.main-navigation > ul > li,
	.main-navigation.wp-block-navigation .wp-block-navigation-link {
		padding: 0.8rem 1rem;
	}

	.main-navigation > ul > li > a,
	.main-navigation.wp-block-navigation .wp-block-navigation-link .wp-block-navigation-link__content {
		padding: 0.2rem 0.5rem;
		border: none;
		border-bottom: 2px solid transparent;
	}

	.main-navigation.wp-block-navigation .wp-block-navigation-link:hover {
		cursor: default;
	}

	.main-navigation > ul > li.current-menu-item > a {
		text-decoration: none;
		border-color: rgba(255, 255, 255, 0.5);
		border-color: var(--header-text-hover-color);
	}
}
