@media only screen and (min-width: 400px) {
	.menu-toggle .menu-toggle-text {
		display: inline-block;
		margin-left: 0.5rem;
	}
}

@media only screen and (min-width: 960px) {
	.menu-toggle,
	.dropdown-toggle {
		display: none;
	}

	.main-navigation ul,
	.main-navigation ul ul {
		display: block;
	}

	.primary-navigation {
		display: flex;
		margin-left: auto;
		width: auto;
		align-items: center;
	}

	#masthead .main-navigation > ul.menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		margin: 0;
		border-bottom: none;
	}

	.main-navigation > ul > li {
		padding: 0.8rem 1rem;
	}

	.main-navigation > ul > li > a {
		padding: 0.2rem 0;
		border: none;
		border-bottom: 2px solid transparent;
	}

	.main-navigation > ul > li.current-menu-item > a {
		text-decoration: none;
		border-color: rgba(255, 255, 255, 0.5);
		border-color: var(--header-text-hover-color);
	}

	/* Dropdown Menus */
	.main-navigation ul ul {
		position: absolute;
		left: -999em;
		top: 100%;
		z-index: 99999;
		padding: 0.5rem;
		border: 2px solid rgba(255, 255, 255, 0.1);
		border: 2px solid var(--header-border-color);
	}

	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
		right: 100%;
		left: auto;
	}

	.main-navigation ul ul a {
		width: 16rem;
	}

	.main-navigation ul li:hover > ul,
	.main-navigation ul li.focus > ul {
		right: 0;
		left: auto;
	}

	.main-navigation ul ul ul {
		left: -999em;
		margin-top: -1px;
		top: 0;
	}

	.main-navigation ul ul a,
	.main-navigation ul ul ul a,
	.main-navigation ul ul ul ul a {
		padding: 1rem;
		border: none;
	}

	/* Dropdown Icons */
	.main-navigation .menu-item-has-children > a > .icon,
	.main-navigation .page_item_has_children > a > .icon {
		position: relative;
		display: inline-block;
		left: 0.5rem;
		top: 0.1rem;
		width: 14px;
		height: 14px;
		@include fill(--header-text-color);
	}

	.main-navigation ul .menu-item-has-children > a:hover > .icon,
	.main-navigation ul .page_item_has_children > a:hover > .icon {
		@include fill(--header-text-hover-color);
	}

	.main-navigation ul ul .menu-item-has-children > a > .icon,
	.main-navigation ul ul .page_item_has_children > a > .icon {
		position: absolute;
		left: auto;
		right: 1em;
		top: 50%;
		margin-top: -0.5rem;
		-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
		-ms-transform: rotate(-90deg); /* IE 9 */
		transform: rotate(-90deg);
	}
}
