.entry-meta {
	margin: 0 0 2em;
	color: rgba(0, 0, 0, 0.5);
	@include font-size(14);

	address {
		display: inline-block;
		margin: 0;
	}

	time {
		display: inline-block;
	}

	address::after {
		display: inline-block;
		margin: 0 1rem;
		color: rgba(0, 0, 0, 0.5);
		content: "\2013";
	}
}

.entry-meta .updated:not(.published) {
	display: none;
}
