.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	border: none;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1em;
	max-width: 100%;
	@include font-size(15);
	color: rgba(0,0,0,0.6);
	width: auto !important;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.5em 0;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	display: grid;
	margin: 1rem 0;
	padding: 0;
	grid-gap: 1rem;
}

.gallery-columns-1 {
	display: block;
}

.gallery-columns-2,
.gallery-columns-3,
.gallery-columns-4,
.gallery-columns-5,
.gallery-columns-6,
.gallery-columns-7,
.gallery-columns-8,
.gallery-columns-9 {
	grid-template-columns: 1fr 1fr;
}

.gallery-item {
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	vertical-align: top;
	text-align: center;
}

.gallery-item img {
	vertical-align: top;
}

.gallery-caption {
	display: block;
	margin: 0.5rem 0 0;
	@include font-size(15);
	color: rgba(0,0,0,0.6);
	line-height: 1.4;
}

/* IE Fallback */
@media only screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.gallery {
		display: flex;
	}

	.gallery-item {
		display: inline-block;
		padding: 1rem;
	}

	.gallery-columns-2 .gallery-item {
		width: 50%;
	}

	.gallery-columns-3 .gallery-item {
		width: 33.3333333333%;
	}

	.gallery-columns-4 .gallery-item {
		width: 25%;
	}

	.gallery-columns-5 .gallery-item {
		width: 20%;
	}

	.gallery-columns-6 .gallery-item {
		width: 16.6666666667%;
	}

	.gallery-columns-7 .gallery-item {
		width: 14.2857142857%;
	}

	.gallery-columns-8 .gallery-item {
		width: 12.5%;
	}

	.gallery-columns-9 .gallery-item {
		width: 11.1111111111%;
	}
}
