/*
 * Customizer Controls CSS
 *
 * Adjusts styling for theme option controls in the Customizer
 *
 * @package Ambitious
 */

/* Settings */
#customize-control-ambitious_theme_options-site_description {
	margin-bottom: 16px;
}

#customize-control-ambitious_theme_options-site_title {
	margin-bottom: 6px;
}

#customize-control-ambitious_theme_options-post_details,
#customize-control-ambitious_theme_options-single_post {
	margin-top: 16px;
	margin-bottom: 0;
}

#customize-control-ambitious_theme_options-meta_date,
#customize-control-ambitious_theme_options-meta_author,
#customize-control-ambitious_theme_options-meta_categories,
#customize-control-ambitious_theme_options-meta_tags {
	margin-bottom: 4px;
}

/* Custom Font Control */
.customize-control-ambitious_custom_font {
	margin-top: 24px;
}

#customize-control-text_font {
	margin-top: 0;
}

.customize-control-ambitious_custom_font .actions .button.previous {
	margin-right: 4px;
}

.customize-control-ambitious_custom_font .actions .button.standard {
	float: right;
}

.customize-control-ambitious_custom_font select {
	width: 100%;
}

.customize-control-ambitious_custom_font div:hover {
	cursor: default;
}

.customize-control-ambitious_custom_font .actions .button:hover {
	cursor: pointer;
}

/* Typography Checkbox Controls */
#sub-accordion-section-ambitious_section_typography .customize-control-checkbox {
	margin-bottom: 0;
}

/* License Control */
.customize-control-ambitious_license_key label {
	margin-top: 16px;
}

.customize-control-ambitious_license_key .license-status span {
	display: inline-block;
	margin: 0 0 12px;
	padding: 5px 10px;
	color: #fff;
	background: #777;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}

.customize-control-ambitious_license_key .license-status .inactive {
	background: #444;
}

.customize-control-ambitious_license_key .license-status .valid {
	background: green;
}

.customize-control-ambitious_license_key .license-status .invalid,
.customize-control-ambitious_license_key .license-status .expired {
	background: red;
}

/* Plugin Control Styling */
#customize-control-gt_local_fonts_plugin {
	margin-top: 24px;
}
