/* Cover Block */
body.block-editor-page .editor-styles-wrapper p.wp-block-cover-text {
	margin-top: 0;
	margin-bottom: 0;
	@include font-size(32);
	line-height: 1.25;
}

/* Preformatted Block */
.wp-block-preformatted pre {
    white-space: normal;
}

/* Separator Block */
.wp-block-separator {
	margin: 1.5em auto;
	border: none;
}

/* Table Block */
.wp-block-table td,
.wp-block-table th {
	padding: 0;
}

.wp-block-table__cell-content {
	padding: 0.4em 0.6em;
}

/* Quote Block */
.wp-block-quote:not(.is-large):not(.is-style-large){
	padding-left: 1.5em;
	border-left: 4px solid $textColor;
}

.wp-block-quote cite,
.wp-block-quote footer,
.wp-block-quote__citation,
.wp-block-pullquote cite,
.wp-block-pullquote footer,
.wp-block-pullquote .wp-block-pullquote__citation {
	color: $textColor;
	@include font-size(16);
	text-transform: none;
}

.wp-block-quote cite:before,
.wp-block-quote footer:before,
.wp-block-quote__citation:before,
.wp-block-pullquote cite:before,
.wp-block-pullquote footer:before,
.wp-block-pullquote__citation:before {
	content: "\2014\00a0";
}

.wp-block-pullquote.is-style-solid-color blockquote > .editor-rich-text p {
	font-size: inherit;
}

.wp-block-pullquote.is-style-solid-color .wp-block-pullquote__citation {
	color: inherit;
}

/* GT Section Block */
.gt-background-section .gt-section-content {
	&.gt-default-width .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block {
		max-width: calc( #{$contentWidth} + 30px );
	}

	&.gt-wide-width .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block {
		max-width: calc( #{$wideBlockWidth} + 30px );
	}

	&.gt-full-width .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block {
		max-width: calc( #{$contentFullwidth} + 30px );
	}
}
