/* Typography */
.editor-styles-wrapper {
	@include font-family(--text-font);
	@include font-size(17);
    line-height: 1.75;
	color: $textColor;
}

.editor-styles-wrapper p {
	font-size: inherit;
	line-height: 1.75;
	margin-bottom: 1.5em;
}

@media only screen and (min-width: 640px) {
	.editor-styles-wrapper {
		@include font-size(18);
	}
}

@media only screen and (min-width: 960px) {
	.editor-styles-wrapper {
		@include font-size(19);
	}
}

@media only screen and (min-width: 1280px) {
	.editor-styles-wrapper {
		@include font-size(20);
	}
}

.editor-styles-wrapper .mce-content-body {
	line-height: 1.75;
}

.editor-styles-wrapper a {
	@include color(--link-color);
}

.editor-styles-wrapper hr {
	margin-bottom: 1.5em;
	height: 1px;
	border: 0;
	background-color: rgba(0,0,0,0.15);
}

.editor-styles-wrapper pre {
	overflow: auto;
	margin-bottom: 1.5em;
	padding: 1.5em;
	max-width: 100%;
	border: 1px solid rgba(0,0,0,0.15);
	background: rgba(0,0,0,0.025);
	font-size: 15px;
	font-size: 0.9375rem;
	font-family: "Courier 10 Pitch", Courier, monospace;
	line-height: 1.5;
}

/* Headings */
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
	clear: both;
	margin: 1em 0 0.75em;
	@include font-family(--title-font);
	line-height: 1.4;

	&.mce-content-body {
		line-height: 1.4;
	}
}

.editor-styles-wrapper h1 {
	@include font-size(36);
}

.editor-styles-wrapper h2 {
	@include font-size(28);
}

.editor-styles-wrapper h3 {
	@include font-size(24);
}

.editor-styles-wrapper h4 {
	@include font-size(22);
}

.editor-styles-wrapper h5 {
	@include font-size(20);
}

.editor-styles-wrapper h6 {
	@include font-size(19);
}

/* Blockquotes */
.editor-styles-wrapper blockquote {
	margin-top: 0;
	margin-bottom: 1.5em;
	padding-left: 1.5em;
	border-left: 4px solid $textColor;
	color: rgba(0,0,0,0.5);
	@include font-size(18);
}

.editor-styles-wrapper blockquote p {
	margin-bottom: 0.75em;
}

.editor-styles-wrapper blockquote cite {
	display: block;
	color: $textColor;
	@include font-size(16);
}

.editor-styles-wrapper blockquote cite:before {
	content: "\2014\00a0";
}

/* Lists */
.block-library-list .editor-rich-text__tinymce,
.block-library-list .editor-rich-text__tinymce ol,
.block-library-list .editor-rich-text__tinymce ul {
	margin: 0 0 1.5em;
	padding: 0 0 0 1.25em;
}

.block-library-list .editor-rich-text__tinymce li > ul,
.block-library-list .editor-rich-text__tinymce li > ol {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 1.5em;
}

.editor-styles-wrapper ul {
	list-style: disc;
}

.editor-styles-wrapper ol {
	list-style: decimal;
}

.editor-styles-wrapper ul ul,
.editor-styles-wrapper ol ul {
	list-style-type: circle;
}

/* Tables */
.editor-styles-wrapper table {
	margin: 0 0 1.5em;
	width: 100%;
	border: none;
	table-layout: fixed;
}

.editor-styles-wrapper th,
.editor-styles-wrapper td {
	padding: 0.3em 0.6em;
	border: 1px solid rgba(0,0,0,0.15);
}
