.editor-styles-wrapper .wp-block {
	max-width: calc(#{$contentWidth} + 30px);
}

.editor-styles-wrapper .wp-block[data-align=wide] {
	max-width: calc(#{$wideBlockWidth} + 30px);
}

.editor-styles-wrapper .wp-block[data-align=full] {
	max-width: none;
}

/* Post and Page Title */
body.block-editor-page .editor-post-title__block .editor-post-title__input {
	@include font-size(36);
	@include font-family(--title-font);
	@include font-weight(--title-font-weight);
	@include text-transform(--title-text-transform);
	line-height: 1.4;
}

@media only screen and (min-width: 640px) {
	body.block-editor-page .editor-post-title__block .editor-post-title__input {
		@include font-size(32);
	}
}

@media only screen and (min-width: 960px) {
	body.block-editor-page .editor-post-title__block .editor-post-title__input {
		@include font-size(40);
	}
}

@media only screen and (min-width: 1280px) {
	body.block-editor-page .editor-post-title__block .editor-post-title__input {
		@include font-size(48);
	}
}
